{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Replication": {
    "IsMaster": true,
    "SlaveUrl": "http://localhost:5000",
    "ApiKey": "local-api-key"
  }
}
